{% comment %}
  Cart drawer shell: overlay + panel. Content comes from section cart-drawer (rendered inside panel).
  Use data-open-cart-drawer to open, data-close-cart-drawer to close.
{% endcomment %}
<div id="CartDrawer" class="cart-drawer" role="dialog" aria-modal="true" aria-label="{{ 'layout.cart.title' | t }}" hidden data-cart-drawer>
  <div class="cart-drawer__overlay" data-close-cart-drawer aria-hidden="true"></div>
  <div id="CartDrawerPanel" class="cart-drawer__panel" data-cart-drawer-panel>
    {% section 'cart-drawer' %}
  </div>
</div>
