{% comment %} Mobile menu for header-1 (Sacred Rebel). Closed by data-close-menu-1. {% endcomment %}
<div class="header-1-mobile" id="MobileMenu1" role="dialog" aria-modal="true" aria-label="{{ 'general.accessibility.menu' | t }}" hidden>
  <div class="header-1-mobile__overlay" data-close-menu-1 aria-hidden="true"></div>
  <div class="header-1-mobile__panel">
    <button type="button" class="header-1-mobile__close" data-close-menu-1 aria-label="{{ 'general.accessibility.close' | t }}">
      {% render 'icon-close' %}
    </button>
    <nav class="header-1-mobile__nav">
      {% assign menu_handle = menu | default: '' %}
      {% if menu_handle != '' and linklists[menu_handle].links.size > 0 %}
        <ul class="header-1-mobile__list">
          {% for link in linklists[menu_handle].links %}
            <li class="header-1-mobile__item">
              <a href="{{ link.url }}" class="header-1-mobile__link">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
</div>
