<div class="mobile-menu" id="MobileMenu" role="dialog" aria-modal="true" aria-label="{{ 'general.accessibility.menu' | t }}" hidden>
  <div class="mobile-menu__overlay" data-close-menu aria-hidden="true"></div>
  <div class="mobile-menu__panel">
    <button type="button" class="mobile-menu__close" data-close-menu aria-label="{{ 'general.accessibility.close' | t }}">
      {% render 'icon-close' %}
    </button>
    <nav class="mobile-menu__nav">
      {% assign menu_handle = menu | default: '' %}
      {% if menu_handle != '' and linklists[menu_handle].links.size > 0 %}
        <ul class="mobile-menu__list" style="list-style: none; padding: 0; margin: 0;">
          {% for link in linklists[menu_handle].links %}
            <li class="mobile-menu__item">
              <a href="{{ link.url }}" class="mobile-menu__link">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
</div>
