{% comment %}
  Customer Reset Password Template
{% endcomment %}

<div class="customer-reset-password-page">
  <div class="customer-reset-password-container">
    <div class="customer-reset-password-wrapper">
      <h1 class="customer-page-title">Reset Password</h1>
      
      {% form 'reset_customer_password', class: 'customer-form' %}
        {{ form.errors | default_errors }}
        
        <div class="form-group">
          <label for="ResetPassword" class="form-label">Password</label>
          <input 
            type="password" 
            name="customer[password]" 
            id="ResetPassword"
            class="form-input"
            autocomplete="new-password"
            required
          >
        </div>
        
        <div class="form-group">
          <label for="PasswordConfirmation" class="form-label">Confirm Password</label>
          <input 
            type="password" 
            name="customer[password_confirmation]" 
            id="PasswordConfirmation"
            class="form-input"
            autocomplete="new-password"
            required
          >
        </div>
        
        <button type="submit" class="btn btn-primary btn-full">Reset Password</button>
      {% endform %}
    </div>
  </div>
</div>
