<div class="page-content page-width" style="padding: 4rem 0;">
  <h1 class="page-content__title">{{ page.title }}</h1>
  <div class="page-content__body rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page content",
  "class": "section-page-content",
  "settings": []
}
{% endschema %}
